.planet {
    > * {
        position: absolute;
    }

    animation: fade-in 1s linear;
}

.planet-sprite {
    border-radius: 100%;
    background-image: url("src/assets/planet.png");
    background-size: 100% 100%;
    &.settled {
        border: 5px solid yellow;
    }
    p {
        text-align: center;
        font-size: 12px;
        margin: 0;
        opacity: 0.7;
    }
}

.selected {
    box-shadow: 0px 0px 30px 0px white;
}

.static-entity-sprite {
    border-radius: 100%;
    background: blue;
    width: 60px;
    height: 60px
}


@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
