.transient {
    position: absolute;
}

.transient-sprite {
    width: 20px;
    height: 20px;
    animation: fade-in 1.5s linear;
    position: relative;
    img {
        position: absolute;
    }
    .health-bar {
        top: -12px;
        left: -13px;
    }
}


@keyframes fade-in {
    0% { opacity: 0; }
    50% { opacity: 0;}
    100% { opacity: 1; }
}
